/*--------------*/
/* RESET und Einstellungen */
/*--------------*/

img,
picture {
    max-width: 100%;
    display: block;}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}



/*-----------------------*/
/*    Custom Properties  */
/*-----------------------*/
:root{
--cl-green:hsl(158, 36%, 37%);
--cl-crean:hsl(30, 38%, 92%);
--cl-darkblue:hsl(212, 21%, 14%);
--cl-grayishblue: hsl(228, 12%, 48%);
--cl-white:hsl(0, 0%, 100%);

--ff-montserrat:Montserrat;
--ff-fraunces: "Fraunces";
}


/*-----------------------*/
/*     Utility Classes   */
/*-----------------------*/

.grid{display:grid;}

.flex{
    display:flex;
    flex-direction: column;}




/*-----------------------*/
/*        Layout         */
/*-----------------------*/




html{background-color: var(--cl-crean);}

body{margin:0 auto;
    max-width: 600px;
     border-radius: 10px;
    background-color: var(--cl-white);
}


main{padding:2em 2em 1.5em 2em;
   }

h2{
    font-family:var(--ff-montserrat);
    font-weight: 400;
    font-size: 0.9em;
    text-transform:uppercase;
    letter-spacing: 0.3em;
    color: var(--cl-grayishblue);
}

h1{
    font-family: var(--ff-fraunces);
    font-weight: 700;
    margin: 0.5em 0 0.8em 0;
    line-height: 1.2em;}

p{
    font-family: var(--ff-montserrat);
    line-height: 1.5em;
    font-size: 0.9rem;
    color: var(--cl-grayishblue);
    }

.mainprice {
    font-family: var(--ff-fraunces);
    font-size: 2em;
    font-weight: 700;
    color: var(--cl-green);
}


.crossedoutprice{
    position: relative;
    bottom: 0.5em;
    left:1em;
    text-decoration: line-through;}

.pricecontainer > *{
    display: inline;}

/*-----------------------*/
/*       Components      */
/*-----------------------*/

/*   BUTTON    */

button{
    width: 100%;
    background-color: var(--cl-green);
    border:0;
    border-radius: 5px;
}

.vektor{display: inline-block;
        margin-right: 1em;
        transform: scaleX(-1);
}

span{display: inline-block;
    color: white;
    font-size: 1.3em ;
    text-align:left;
    font-weight:700;}




@media (min-width:601px){
body{grid-template-areas:'image content' ;
    margin-top:15em;}

main{grid-area: content;
    }

picture{
    grid-area: image;
    width:300px;}

img{border-radius:10px 0 0 10px;}

.pricecontainer{
    margin: 1.2em 0 1.2em 0;}

button{
    height:3.5em;
    margin-top:0em;}

.attribution{grid-area:footer;}

}



@media (max-width:600px){
    body{grid-template-areas:'image' 
                              'content'}
    
    main{grid-area: content;}
    
    picture{grid-area: image;}

    img{border-radius:10px 10px 0 0px;}

    body{width:90%;
        margin-top: 10em;}
    
    .pricecontainer{margin: 1em 0;}
    
    button{height:4.2em;}
    }

    


/*-----------------------*/
/*     Frontend Mentor   */
/*-----------------------*/

.attribution { 
    font-size: 11px;
    text-align: center;
    position:fixed;
    bottom:.5em;
    left: 30vw; }

.attribution a { color: hsl(228, 45%, 44%); }