
/*-----------------------*/
/*Reset                  */
/*-----------------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
ul {
    margin: 0; 
    padding:0;
}


/*-----------------------*/
/*    Custom Properties  */
/*-----------------------*/
:root{

--cl-brightred:hsl(12, 88%, 59%);
--cl-lightbrightred:hsla(12, 88%, 59%, 0.297);
--cl-brightredtransparent:hsla(12, 88%, 59%, 0.074);
--cl-bluedark:hsl(228, 39%, 23%);
--cl-darkgrayishblue:hsl(227, 12%, 61%);
--cl-verydarkblue:hsl(233, 12%, 13%);
--cl-verypalered:hsl(13, 100%, 96%);
--cl-verylightgray:hsl(0, 0%, 98%);

--ff-main:"Be Vietnam Pro";
}

/*--------------------------------------------------*/
/*            allgemeines    Layout                 */
/*--------------------------------------------------*/
p,a,span{
    font-size: 14px;
    font-family: var(--ff-main);
    text-align: center;
    }

h1{
    font-family: var(--ff-main);
    font-weight: 700;
}

h2{
    font-size: 30px;
    font-weight: 700;
    font-family: var(--ff-main);
    text-align: center;
    line-height: 1.5em;
}

h3{font-family: var(--ff-main);
font-size: 15px;}

p{
    line-height: 2em;
    color: var(--cl-darkgrayishblue);
    margin-bottom: 2em;
   
}

.cta{
    display:block;
    background-color: var(--cl-brightred);
    color:white;
    text-decoration: none;
    padding-top:1em;
    padding-bottom: .85em;
    width:11em;
    border-radius: 30px;
}

span{
    display:inline-block;
    background-color: var(--cl-brightred);
    color:white;
    text-decoration: none;
    padding-top:.5em;
    padding-bottom: .5em;
    border-radius: 30px;
    width:4.5em;

}



/*--------------------------------------------------*/
/*                      Components                  */
/*--------------------------------------------------*/

/*------------------------------*/
/*          mobile header       */
/*------------------------------*/
@media (max-width:950px){
  

.logo{
    
    margin-top:2.75em;
    width:110px;
    margin-left:2em;
}

#thex{
    display:none;
    z-index:10;
    position:fixed;
    top:2.4em;
    right:1.7em;
    cursor:pointer;
    z-index:11;
}


#blackbackground{
    z-index:-3;
    position:fixed;
    width:100vw;
    height:100vh;
    filter:opacity(0);
    transition: filter 500ms ease-in-out;
}

#hamburger{
    position:absolute;
    right:1.5em;
    top:2.56em;
    z-index: 10;
    cursor:pointer;
}
nav>div>a{
    display:block;
    text-decoration: none;
    text-align: center;
    font-family: var(-ff-main);
    margin-bottom:2em;
    font-weight: 700;}
nav{
    position:fixed;
    top:6.44em;
    left:calc(50vw - 10.22em);
    width:20.43em;
    height:18.19em;
    background-color: white;
    padding-top:2.875em;
    z-index:-10;
    border-radius: 10px;
    filter:opacity(0);
    transition: filter 500ms ease-in-out;

}

.cta1{display:none;}

.background1{
    background-image: url(images/bg-tablet-pattern.svg);
    background-size: 400px;
    background-position: calc(80vw - 200px) -70px;
    background-repeat: no-repeat;
}

/*---------------------------------------------*/
/*                    mobile layout                           */
/*---------------------------------------------*/
.wrapper1{
    width:80%;
    margin:0 auto;
}

.illustration{
    margin-top:1.8em;
    display:block;
    width:100%;
    margin-bottom:.8em;}

h1{
    font-family: var(--ff-main);
    font-size: 33px;

    margin-left:auto;
    margin-right:auto;
    text-align:center;
    margin-bottom:.3em;}

p{padding:0 .5em;}

.cta2{
    margin:0 auto;
}

.content{
    height:5em;
}

.background2{
    background-image: url(images/bg-tablet-pattern.svg);
    background-size: 280px;
    background-repeat: no-repeat;
    background-position: 70vw calc(50vw + 250px);
}

h2{
    
    width:80%;
    margin-left:auto;
    margin-right: auto;
}

.heading1{
    margin-bottom:.4em;
}


.narrow{
    margin-left: 2em;
    margin-right:2em;
}

span{margin-left:1.2em;
}

h3{
    display:inline-block;
    padding-left:.8em;
    padding-top:.4em;
    padding-bottom:.4em;
    
}

.textbackground{
    display:inline-block;
    background-image: url(images/orangebackground.png);
    background-size: 2730px;
    background-position: 2em 0;
    background-repeat: no-repeat;
    width:100%;
    margin-bottom:.5em;
    
}

.alignleft{
    text-align: left;
    margin-left:.8em;
}


.heading2{
    margin-bottom:2.8em;
    margin-top:1.8em;
}

.opinion{
    width:90%;
    margin-left:auto;
    margin-right: auto;
    background-color: var(--cl-verylightgray);
    padding-top:.5em;
    padding-left:1em;
    padding-right:1em;
    padding-bottom: .2em;
    margin-bottom: 2em;
   
}

.opinion>h3{
    display:block;
    text-align: center;
    padding-top:1em;
}


.opinion>div>img{
    width:80px;
    position:relative;
    margin:0 auto;
    margin-top:-5em;
}


/*------------------------------*/
/*        mobile slider         */
/*------------------------------*/

.slidercircles{
  
    width:64px;
    height:12px;
    margin: 0 auto;
    margin-bottom:3em;
    }

.slidercircles>div{
    width:12px;
    height:12px;
    border: 2px solid var(--cl-brightred);
    display:inline-block;
    border-radius: 6px;}



/*defaultzustand*/

#opinion2,
#opinion3,
#opinion4{
    display:none;
}

#sb1{
    background-color: var(--cl-brightred);
}

/*------------------------------*/
/*------------------------------*/
/*------------------------------*/

.cta3{
    margin-left: auto;
    margin-right: auto;
    margin-bottom:3.5em;
    box-shadow: 0px 5px 15px 1px var(--cl-lightbrightred);
}

h4{
    display:block;
    text-align: center;
    color:white;
    font-family: var(--ff-main);
    font-size: 35px;
    padding:2.2em 1em .7em 1em;
}

.background4{
background-image: url(images/redbackground.png);
background-size: 5px;}

.whitecta{
    display: block;
    font-family: var(--ff-main);
    color: var(--cl-brightred);
    text-decoration: none;
    background-color: white;
    font-weight: 500;
    padding-top:1em;
    padding-bottom: .85em;
    width:11em;
    border-radius: 30px;
    margin-left:auto;
    margin-right:auto;
    }

.content2{
    height:4.7em;
}


/*------------------------------*/
/*      mobile footer           */
/*------------------------------*/
footer{
    background-color: var(--cl-verydarkblue);
}


input{
    display: inline-block;
    font-family:var(--ff-main);
    color: var(--cl-darkgrayishblue);
    width:17em;
    border-radius: 35px;
    border:0px solid white;
    padding:.8em 2em;
    margin-top:3em;
    margin-left:1.5em;
    margin-bottom:3.8em;}

.ctago{
    display:inline-block;
    background-color: var(--cl-brightred);
    color:white;
    width:5.5em;
    margin-left:.5em;
    padding-top:1em;
    padding-bottom: .85em;
    border-radius: 30px;
    border:0px solid white;
    font-family: var(--ff-main);
}

.grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.grid>div>a{
    font-size:12px;
    display:block;
    font-family: var(--ff-main);
    color:white;
    text-decoration: none;
    margin-bottom:1.4em;
    text-align: left;
}

.grid .links1{
    margin-left:4em;
}

.grid .links2{
    margin-left:2em;
}

.siteicons{
    width:27px;
}

.flex{
    display:flex;
    justify-content: space-between;
    margin-top:2em;
    margin-left:3em;
    margin-right:3em;
    margin-bottom:3em;
}

.logobottom{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2em;
}

.verybottom>p{
    font-size:12px;
    }


.desktopfooter{
    display:none;
}

}

/*---------------------------------------*/
/*         Desktop Layout                */
/*---------------------------------------*/

@media (min-width:951px){
    #hamburger{
        display:none;
    }

    #blackbackground{
        display:none;
    }

    #thex{
        display:none;
    }

    header{
        width:80%;
        margin-left:auto;
        margin-right:auto;
        margin-top: 5em;
    }

    #menu{
        display:inline-block;
    }

    .desktoplinks{
        display:inline-block;
    }
    .cta1{
        display:inline-block;
        margin-right:1em;
    }


    header{
        width:80%;
        display:flex;
        align-items: center;
        justify-content: space-between;

    }



    .desktoplinks>a{
        text-decoration: none;
        font-family: var(-ff-main);
        font-weight: 700;
        margin-right:calc(3vw - 4px);}
    
    

    nav{
        margin-right: calc(10vw - 100px);
     
    }

    .background1{
        background-position: calc(70vw - 200px) 0em;
        background-size: 600px;
    
        background-image: url(images/bg-tablet-pattern.svg);

        background-repeat: no-repeat;
  
    }


    

    .wrapper1{
        display:flex;
        align-items:center;
        margin-top:5em;
        width:80%;
        margin-left:auto;
        margin-right:auto;
        padding-bottom:7em;

    }

    .illustration{
        order:2;
        width:100%;
        height:100%;
        flex-shrink: 0.9;
    
        
        }

    h1{
        font-size:50px;
        margin-bottom:.6em;
    }

    .wrapper1>section>p{
        width:80%;
        text-align: left;
        margin-bottom: 4em;
        font-size: 16px;
    }
    
    .wrapper1>section{
        margin-right:5em;
        align-self: center;
    }

    .wrapper2>section{
        width:80%;
        margin-left:auto;
        margin-right:auto;
        display:flex;
        justify-content: space-between;
        gap:5em;
        
    }

    .wrapper2 p{
        text-align:left;
        font-size:16px;
    }
    
    .wrapper2>section>.left{
        width:50%;
        flex:0 2 50%;
    }

    .wrapper2>section>.right{
        width:50%;
       flex:1 0 50%;
    }

    .wrapper2{margin-bottom:8em;}

    .left>p{
        width:70%;
    }
    h2{
       text-align: left; 
       font-size:40px;
       margin-bottom:1em;
    }

    .right>div>h3{
        font-size: 20px;
        display: inline-block;
        margin-left:1vw;
    }

    .right>p{
        margin-left:6em;
    }
    .background3{
        background-image: url(images/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
        background-size: 800px;
        background-position: -30em 15em;

    }

    .heading2{
        text-align: center;
        margin-bottom:3em;
    }

    .opinion{
        width:50%;
        margin-left:auto;
        margin-right: auto;
        background-color: var(--cl-verylightgray);
        padding-top:.5em;
        padding-left:1em;
        padding-right:1em;
        padding-bottom: .2em;
        margin-bottom: 2em;
        margin-top:4em;
       
    }
    
    .opinion>h3{
        display:block;
        text-align: center;
        padding-top:1em;
    }
    
    
    .opinion>div>img{
        display:block;
        width:80px;
        position:relative;
        margin:0 auto;
        bottom:2.3em;}
       
    .cta3{
        display:block;
        margin-left:auto;
        margin-right:auto;
        margin-top:4em;
        margin-bottom:10em;
    }

    .background4{
        background-color: var(--cl-brightred);
        display:flex;
        justify-content: space-between;
        align-items:center;
        padding-left:10%;
        padding-right:10%;
    
    }

    h4{
        font-size:45px;
        color:white;
        width:40%;
        padding-top:1.7em;
        padding-bottom:1.7em;
    }

    .whitecta{
    
        background-color: white;
        color:var(--cl-brightred);
        text-decoration: none;
        padding-top:1em;
        padding-bottom: .85em;
        width:11em;
        border-radius: 30px;
        font-weight: 700;
        margin-left:15em;
    }


    
/*------------------------------*/
/*          desktopfooter       */
/*------------------------------*/
    footer{
        display:none;
    }

    .desktopfooter{
        padding-left:10%;
        padding-right:10%;
        padding-top:4em;
        padding-bottom:4em;
        background-color:var(--cl-verydarkblue);
        display:flex;
        justify-content:space-between;
        align-items:flex-start;
        padding-bottom:2em;
    }

    .logobottom{
        margin-bottom:3.5em;
    }

    .siteicons{
        margin-right:.5em;
    }
    
    .links1>a,
    .links2>a{
        font-size:12px;
        display:block;
        font-family: var(--ff-main);
        color:white;
        text-decoration: none;
        margin-bottom:1.4em;
        text-align: left;
    }
    
    .links1{
        margin-left:-2em;

    }
    
    .links2{
        margin-left:2em;
      
    }
    
    input{
        font-family:var(--ff-main);
        color: var(--cl-darkgrayishblue);
        border-radius: 35px;
        border:0px solid white;
        padding:.8em .8em;
        margin-left:1.5em;
        margin-bottom:4.2em;
        border: 1px solid var(--cl-brightred);
        margin-right:1em;
        width:15vw;
        
    
    }

    .ctago{
        display:inline-block;
        background-color: var(--cl-brightred);
        color:white;
        text-decoration: none;
        padding-top:.8em;
        padding-bottom: .8em;
        border-radius: 30px;
        width:5.5em;
        border:0px solid red;
    
    }


}


@media (min-width:1800px){
    header{
        width:70%;
    }

    .wrapper1{
        width:70%;
    }

    .wrapper2>section{
        width:70%;
      
    }
    #opinionbox{
        width:80%;
        margin-left:auto;
        margin-right:auto;
    }
    .background4{
        padding-left:10%;
        padding-right:10%;
    }

    .desktopfooter{
       padding-left:10%;
       padding-right:10%;
    }


}


/*-----------------------*/
/*    Frontendmentor     */
/*-----------------------*/

.attribution { 
    font-size: 11px;
    text-align: center;
    }
.attribution a { color: hsl(228, 45%, 44%); }
.attribution p {
    margin-bottom:0;
}